body{
    background-color:black;
}
#bar{
    color:white;
}
#main-nav{
    text-align: center;
}

#main-nav ul li{
    display: inline;
    list-style-type: none;
    text-align:right;
    padding: 10px;
}

#main-nav button{
    background-color: transparent;
    border: none;
    color:white;
}

#main-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#home-title, #home-text1{
    text-align: center;
    color:white;
}

.grid-container {
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto auto auto auto;
    background-color: #4e009b;
    padding: 20px;
  }
  
  .grid-item {
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.8);
    color:white;
    font-size: 25px;
    text-align: center;
  }

  /* Main content area */
.main-container {
    padding: 20px;
}

.event-list {
    margin-top: 20px;
}

.event {
    background-color: #444;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
}

.event h2 {
    color: #FFD700;
}

.event p, .event a {
    color: #CCC;
}

.event a:hover {
    color: #FFF;
}

h1 {
    color: #CCC;
}

select#categorySelect {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 200px; 
    font-size: 16px;
    cursor: pointer;
}
