body{
    background-color:black;
}
#bar{
    color:white;
}
#main-nav{
    text-align: center;
}

#main-nav ul li{
    display: inline;
    list-style-type: none;
    text-align:right;
    padding: 10px;
}

#main-nav button{
    background-color: transparent;
    border: none;
    color:white;
}

#main-nav button:hover{
  background-color: #2196F3;
}

#main-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#home-title, #home-text1{
    text-align: center;
    color:white;
}

.grid-container {
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto auto auto;
    background-color: #4e009b;
    padding: 20px;
  }
  
  .grid-item {
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.8);
    color:white;
    font-size: 25px;
    text-align: center;
    border-color: white;
    margin: 10px;
  }

  /* Main content area */
.main-container {
    padding: 20px;
    color: white;
}

.event-list {
    margin-top: 20px;
}

.event {
    background-color: #444;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
}

.event h2 {
    color: #FFD700;
}

.event p, .event a {
    color: #CCC;
}

.event a:hover {
    color: #FFF;
}

h1 {
    color: #CCC;
}

h3 {
    color: #CCC;
}

select#categorySelect {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 200px; 
    font-size: 16px;
    cursor: pointer;
}

/* check boxes */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
 
.grid-item:hover{
  background-color:#2196F3;
 }
 
 
 .grid-item a{
  color:white;
 }
 
 .carousel {
  position: relative;
  max-width: 800px; /* Adjust carousel width */
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }
 
 
 .carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
 }
 
 
 .carousel-images img {
  width: 100%;
  flex-shrink: 0; /* Prevent images from shrinking */
 }
 
 
 .carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
 }
 
 
 .prev, .next {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50%;
 }
 
 
 .prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
 }
 
 
 .carousel-dots {
  text-align: center;
  margin-top: 10px;
 }
 
 
 .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
 }
 
 
 .dot.active {
  background-color: #717171;
 }
 
 
 
 

